# Ignorar node_modules
node_modules/
frontend/node_modules/

# Ignorar archivos de log
*.log

# Ignorar archivos de configuración local
*.env

# Ignorar directorios o archivos no necesarios
.DS_Store

# Ignorar directorio de distribución
dist/
